@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div class="text-center">
        <h1 class="display-4">Enter a graph below</h1>
        <p>The format is `item, dependency` followed by a new line.</p>
        <textarea asp-for="GraphInput">
        </textarea>
        <input class="button" type="submit" value="Submit" />
    </div>
</form>
